# OpenStack Authentication
auth_url    = "https://your-openstack.com:5000/v3"
region      = "RegionOne"
tenant_name = "mon-projet"
user_name   = "mon-utilisateur"
password    = "mon-mot-de-passe"

# Instance
instance_name = "nginx-server"
flavor_name   = "m1.small"
image_name    = "Ubuntu 22.04"

# Réseau
public_network = "public1"
private_cidr   = "192.168.100.0/24"

# SSH (contenu de ~/.ssh/id_rsa.pub)
ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ... user@host"
